.last-videos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        max-width: 1048px;
        width: 100%;
    }

    .block-header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: 32px;

        padding: 0 32px;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            padding: 0;
            max-width: 1048px;
            align-items: center;
        }
    }

    .last-videos-list-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;

        .last-video-item {
            border-radius: 20px;
            border: 3px solid #18181A;
            background: #3EF274;
            box-shadow: 6px 6px 0px 0px #171717;

            width: 310px;

            @media screen and (min-width: 1200px) {
                width: 240px;
            }
            height: 450px;
        }
    }

    .last-videos-swiper {
        width: 100%;
        max-width: 320px;
        height: 460px;

        @media screen and (min-width: 1200px) {
            max-width: 1040px;
        }
    }
    
    .swiper-slide-shadow {
        display: none;
    }
}